%h1 Log In

%fieldset
  = form_tag user_sessions_path do
    .field
      = label_tag :email, "E-Mail"
      %br
      = email_field_tag :email, params[:email]

    .field
      = label_tag :password, "Password"
      %br
      = password_field_tag :password, params[:password]

    .action
      = submit_tag "Log In"
